:root {
  --container-max-width: 1200px;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-ml: 2.5rem;

  --color-blue: #0070f3;
  --color-white: #ffffff;

  --nav-height: 100px;
  --footer-height: 100px;
}
